html {
  font-size: 62.5%;
}
body {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
.app-container {
  margin: 1%;
}

.left-side-header {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 500;
  margin-left: 5px;
  padding-top: 10px;
}
.component-main {
  display: flex;
  justify-content: space-between;
}

.nav-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.sidebar-container {
  padding-right: 20px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calendar-view-main {
  display: flex;
  flex-direction: column;
}

.calendar-row {
  background: white;
  border-radius: 10px;
  padding: 20px 50px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.calendar-row-active {
  clip-path: polygon(90% 0, 100% 48%, 100% 52%, 90% 100%, 0 100%, 0% 0%);
  background: rgba(88, 212, 115, 0.1);
}

.month-picker-container {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

.event-details-container {
  background: #f2f2f2;
  height: 90%;
  margin: 10px;
  width: 20vw;
  padding: 20px;
  border-radius: 10px;
}
