html {
  font-size: 62.5%;
}
body {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
p {
  margin: 0;
}
span {
  margin: 0;
}
div {
  margin: 0;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
h4,
h5 {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
.app-container {
  margin: 0%;
}

.component-main {
  display: flex;
  justify-content: space-between;
}
/* ---- start of Landing Page styles ---- */

.landing-page-container {
  display: flex;
  justify-content: space-between;
}

.landing-page-left {
  display: flex;
  justify-content: center;
  width: 50vw;
  height: 80vh;
  text-align: center;
  align-self: center;
}

.landing-page-right {
  height: 90vh;
  width: 50vw;
}

.geocoder-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* .geocoder-container > label {
  position: relative;
  top: 10px;
  left: -112px;
  z-index: 1;
} */

/* 
.react-geocoder {
  position: absolute; 
  z-index: 1; 
  width: 31vw;
} */

.react-geocoder-results {
  display: relative;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
  z-index: 5;
}

/* ---- start of Sidebar styles ---- */

.left-side-header {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 500;
  margin-left: 5px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.sidebar-container {
  padding-right: 20px;
  width: 255px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ---- start of Dashboard styles ---- */

.dashboard-container {
  display: flex;
  width: 100%;
}

.header-container {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header-container > :last-child {
  flex-basis: 20%;
}

.header-icons {
  display: flex;
  justify-content: flex-end;
}
.header-icons > :first-child {
  margin-right: 10px;
}

.dashboard-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.feed-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.recent-events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: left;
}
.recent-events-container > * {
  padding-right: 10px;
  padding-top: 10px;
}

.date-box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #f8f8f8;
  border-radius: 8px;
  margin-top: -14%;
  margin-left: 5%;
  align-self: left;
  width: 46px;
  align-items: center;
  position: relative;
}

/* ---- start of View Event styles ---- */

.calendar-view-main {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.calendar-row {
  background: white;
  border-radius: 10px;
  padding: 10px 50px;
  margin-bottom: 20px;
  width: calc(100%-100px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  cursor: pointer;
}

.calendar-row-even {
  background: #f2f2f2;
}

.calendar-row-active {
  clip-path: polygon(92% 0, 100% 46%, 100% 54%, 92% 100%, 0 100%, 0% 0%);
  background: rgba(88, 212, 115, 0.1);
}

.month-picker-container {
  background: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
  align-self: center;
}

.middle-calendar {
  width: 60%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}

.right-side-calendar {
  display: flex;
  background: #f2f2f2;
  height: 85vh;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

@media (max-width: 700px) {
  .right-side-calendar {
    display: none;
  }
  .calendar-row {
    width: 60%;
    padding: 10px 100px;
    margin: 10px auto;
  }
  .calendar-row-active {
    clip-path: polygon(0, 0, 0, 0);
  }
  .month-picker-container {
    width: 100%;
  }
  .middle-calendar {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}
.event-details-container {
  max-width: 386px;
}

.account-button {
  text-align: right;
}

.rsvp-buttons {
  height: 60px;
  width: 60px;
  border-radius: 180px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  border: none;
  opacity: 0.5;
}

.rsvp-active {
  border: 1px solid black;
  opacity: 1;
}

.green-link > a {
  color: #58d473;
}

.login-container {
  margin: 20px auto;
  border: 2px solid #58d473;
  border-radius: 10px;
  width: 60%;
  padding: 0 20px 50px 20px;
}

/* ---- start of SingleEvent styles ---- */

.single-event-box {
  background: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
  height: calc(90vh - 20px);
  max-height: calc(90vh - 20px);
  width: 100%;
  display: flex;
}

.single-event-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.emoji-container {
  display: flex;
  justify-content: space-evenly;
}

/* ---- start of CreateEvent styles ---- */

.create-event-main {
  display: flex;
  justify-content: center;
}

.createEventContainer {
  display: flex;
  flex-direction: column;
  width: 96%;
}

.createForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* page one */

.createFormPage1Container {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 800px) {
  .createFormPage1Container {
    flex-direction: column;
    width: 95%;
  }
}

.createFormPage1LeftContainer {
  width: 50%;
}

@media (max-width: 1278px) {
  .createFormPage1LeftContainer {
    margin-left: 5%;
  }
}

@media (max-width: 800px) {
  .createFormPage1LeftContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }
}

.createFormInputDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #f0f0f0;
  border-radius: 15px;
  margin: 40px 0;
  padding: 10px 15px;
}

@media (max-width: 800px) {
  .createFormInputDiv {
    margin: 20px 0;
  }
}

.createFormInputDiv input {
  height: 35px;
  border: none;
  border-radius: 15px;
  outline: none;
  font-size: 1.6rem;
  width: 90%;
}

.locationInput {
  width: 90%;
}

.createForm label {
  color: #b7b7b7;
  font-size: 1.6rem;
  margin-right: 6px;
}

.createFormTextArea {
  height: 150px;
  border: 2px dashed #f0f0f0;
  border-radius: 15px;
  outline: none;
  padding: 10px 12px;
  font-size: 1.6rem;
  width: 94%;
}

@media (max-width: 800px) {
  .createFormTextArea {
    width: 95%;
    margin: 20px 0;
  }
}

@media (max-width: 600px) {
  .createFormTextArea {
    width: 93%;
    margin: 20px 0;
  }
}

.createFormPage1RightContainer {
  width: 40%;
  margin-left: 5%;
  padding-right: 30px;
}

@media (max-width: 800px) {
  .createFormPage1RightContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-right: 0;
  }
}

.eventTimeDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #f0f0f0;
  border-radius: 15px;
  margin: 40px 0;
}

@media (max-width: 800px) {
  .eventTimeDiv {
    margin: 20px 0;
  }
}

#greenSelect {
  display: flex;
  align-items: center;
  margin: 10px 5px;
  background: #58d573;
  opacity: 0.75;
  border-radius: 5px;
  color: white;
  padding: 10px 40px;
  border: none;
  border-bottom: none;
  font-size: 1.4rem;
}

#redSelect {
  display: flex;
  align-items: center;
  margin: 10px 5px;
  background: #ea6565;
  opacity: 0.75;
  border-radius: 5px;
  color: white;
  padding: 10px 40px;
  border: none;
  font-size: 1.4rem;
}

.eventDateDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #f0f0f0;
  border-radius: 15px;
  color: #b7b7b7;
  margin: 40px 0;
  padding: 7px 0;
}

@media (max-width: 800px) {
  .eventDateDiv {
    margin: 20px 0;
  }
}

#eventFormDate {
  border: none;
  border-radius: 15px;
  color: black;
  padding: 12px 30px;
  font-size: 1.6rem;
}

.categoryDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #f0f0f0;
  border-radius: 15px;
  color: #b7b7b7;
  margin: 40px 0;
  padding: 7px;
}

@media (max-width: 800px) {
  .categoryDiv {
    margin: 20px 0;
  }
}

#category_id {
  display: flex;
  align-items: center;
  border-radius: 15px;
  margin-left: 5%;
  background: white;
  font-size: 1.6rem;
  padding: 12px 30px;
  outline: none;
  color: black;
}

/* page two */

.createFormPage2Container {
  width: 96%;
}

@media (max-width: 1278px) {
  .createFormPage2Container {
    width: 90%;
  }
}

.createImgDiv {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.imgUploadDiv {
  display: flex;
  align-items: center;
  background: rgba(130, 223, 150, 0.5);
  border-radius: 15px;
  color: white;
  padding: 10px 15px;
  font-size: 1.6rem;
  font-weight: bold;
  margin: "5px 10px 10px 10px";
}

.imgUploadDivActive {
  background: #82df96;
}

.modifierNotActive {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #82df96;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  opacity: 0.5;
}

.modifierActive {
  opacity: 1;
}

.inactive {
  opacity: 0.75;
}

/* FormPageThree three styles */

.formPageThreeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1278px) {
  .formPageThreeContainer {
    width: 85%;
    align-items: center;
    justify-content: center;
  }
}

.formPageThreeContainer h3 {
  text-align: left;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  color: #1a0f2c;
  margin: 5px 0;
}

@media (max-width: 1278px) {
  .formPageThreeContainer h3 {
    margin-left: 4%;
  }
}

@media (max-width: 600px) {
  @media (max-width: 1278px) {
    .formPageThreeContainer h3 {
      margin-left: 0;
    }
  }
}

.formPageThreeCardContainter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #f3f3f3;
  box-shadow: 0px 4px 15px rgba(179, 179, 179, 0.1);
  border-radius: 25px;
  margin-top: 10px;
  padding: 30px;
  width: 90%;
}

@media (max-width: 800px) {
  .formPageThreeCardContainter {
    width: 90%;
  }
}

.pageThreeCard {
  display: flex;
  width: 100%;
  min-height: 200px;
}

@media (max-width: 800px) {
  .pageThreeCard {
    flex-direction: column;
    align-items: center;
  }
}

.pageThreeImg {
  max-width: 50%;
  border: 8px solid #58d473;
  border-radius: 25px;
  max-height: 300px;
}

@media (max-width: 800px) {
  .pageThreeImg {
    max-width: 90%;
  }
}

.pageThreeText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 30px;
  text-align: left;
  width: 50%;
}

@media (max-width: 800px) {
  .pageThreeText {
    width: 82%;
    margin-top: 10px;
    height: 100px;
  }
}

@media (max-width: 695px) {
  .pageThreeText {
    width: 96%;
  }
}

.modifierContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.individualModifierContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 45%;
  margin-top: 30px;
  margin-left: 3%;
}

@media (max-width: 600px) {
  .individualModifierContainer {
    margin-top: 25px;
    width: 100%;
  }
}

/* page four style */

.formPageFourContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 1278px) {
  .formPageFourContainer {
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 5%;
  }
}

.pageFourCard {
  display: flex;
  width: 100%;
  min-height: 200px;
}

@media (max-width: 600px) {
  .pageFourCard {
    flex-direction: column;
    align-items: center;
  }
}

.pageFourImg {
  max-width: 50%;
  border: 8px solid #58d473;
  border-radius: 25px;
  max-height: 300px;
}

@media (max-width: 600px) {
  .pageFourImg {
    max-width: 90%;
  }
}

.pageFourText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 30px;
  text-align: left;
  width: 50%;
}

@media (max-width: 600px) {
  .pageFourText {
    width: 96%;
    margin-top: 10px;
    height: 100px;
  }
}

.searchFriendsBtn {
  background: #82df96;
  padding: 15px 20px;
  border-radius: 5px;
  margin-left: 5%;
  color: white;
  outline: none;
  font-size: 2rem;
  font-weight: bold;
  width: 15%;
}

@media (max-width: 800px) {
  .searchFriendsBtn {
    width: 25%;
  }
}

.pageFourText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 30px;
  text-align: left;
  width: 50%;
}

@media (max-width: 600px) {
  .pageFourText {
    width: 96%;
    margin-top: 10px;
    height: 120px;
  }
}

/* create event button div */
.createFormButtonDiv {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  margin-bottom: 20px;
  width: 100%;
}

@media (max-width: 800px) {
  .createFormButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 0;
  }
}

.createRightBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #e5e5e5;
  background: rgba(255, 255, 255, 0.5);
  padding: 15px 20px;
  border-radius: 15px;
  margin: 20px 20px;
  color: #b3b3b3;
  outline: none;
  font-size: 2rem;
  font-weight: bold;
  width: 15%;
}

@media (max-width: 800px) {
  .createRightBtn {
    width: 30%;
  }
}

.createLeftBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #58d473;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  padding: 15px 20px;
  border-radius: 15px;
  margin: 20px 0;
  color: white;
  outline: none;
  font-size: 2rem;
  font-weight: bold;
  width: 15%;
}

@media (max-width: 800px) {
  .createLeftBtn {
    width: 30%;
  }
}

/* -- CreateFormHeader styles ---*/

.createFormHeaderContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

@media (max-width: 1278px) {
  .createFormHeaderContainer {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .createFormHeaderContainer {
    display: none;
  }
}

.createFormHeaderNotActive {
  display: flex;
  align-items: center;
  color: #d9d9d9;
}

.createFormHeaderActive {
  color: #0c0c41;
}

/* -- CreateForm Advanced options --*/

.warning {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ea6565;
  opacity: 0.75;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 20px;
  color: white;
  font-size: 1.6rem;
  width: auto;
  max-width: 400px;
  white-space: pre-line;
  padding: 12px 20px;
  cursor: pointer;
}

.addIngredientInputContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 1100px) {
  .addIngredientInputContainer {
    flex-direction: column;
  }
}

@media (max-width: 1100px) {
  .addIngredientInputContainer {
    flex-direction: column;
  }
}

.ingredientInputName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #f0f0f0;
  border-radius: 15px;
  margin: 40px 0;
  padding: 10px 15px;
  width: 25%;
  height: 38px;
  font-size: 1.6rem;
  outline: none;
}

@media (max-width: 1100px) {
  .ingredientInputName {
    margin-top: 25px;
    margin-bottom: 10px;
    width: 80%;
  }
}

.ingredientInputQuantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #f0f0f0;
  border-radius: 15px;
  margin: 40px 0;
  padding: 10px 15px;
  width: 12%;
  height: 38px;
  font-size: 1.6rem;
  outline: none;
}

@media (max-width: 1100px) {
  .ingredientInputQuantity {
    margin: 10px 0;
    width: 80%;
  }
}

.ingredientMeasurementDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #f0f0f0;
  border-radius: 15px;
  margin: 40px 0;
  min-width: 15%;
  padding: 0 15px;
}

@media (max-width: 1100px) {
  .ingredientMeasurementDiv {
    width: 80%;
    margin: 10px 0;
  }
}

#measurementSelect {
  display: flex;
  align-items: center;
  margin: 10px 5px;
  background: #58d573;
  opacity: 0.75;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-bottom: none;
  font-size: 1.4rem;
}

@media (max-width: 1100px) {
  #measurementSelect {
    padding: 10px 40px;
    justify-content: flex-start;
  }
}

.ingredientButton {
  color: white;
  font-size: 1.6rem;
  background: #82df96;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  word-spacing: 15px;
  cursor: pointer;
  padding: 15px 10px;
  height: 54px;
  width: 10%;
}

@media (max-width: 1100px) {
  .ingredientButton {
    margin-top: 8px;
    margin-bottom: 20px;
    width: 20%;
  }
}

.ingredientListContainer {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

@media (max-width: 1100px) {
  .ingredientListContainer {
    width: 80%;
  }
}

/* -----End of CreateEvent styles------- */
