* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
p {
    margin: 0;
}
span {
    margin: 0;
}
div {
    margin: 0;
}
h1 {
    margin: 0;
}
h2 {
    margin: 0;
}
h3 {
    margin: 0;
}
h4,
h5 {
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

/* ---- Register geocoder styles ---- */

@media (max-width: 700px) {
    .register-map,
    .overlays {
        display: none;
    }
    .toggle-map {
        visibility: hidden;
    }
}

.geocoder-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.react-geocoder-results {
    display: relative;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    cursor: pointer;
    z-index: 5;
}

/* create event geocoder styles */
.createFormInputDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #f0f0f0;
    border-radius: 15px;
    margin: 40px 0;
    padding: 10px 15px;
}
.createFormInputDiv ::placeholder {
    color: #b7b7b7;
}

@media (max-width: 800px) {
    .createFormInputDiv {
        margin: 20px 0;
    }
}

.createFormInputDiv input {
    height: 35px;
    border: none;
    border-radius: 15px;
    outline: none;
    font-size: 1.6rem;
    width: 90%;
}
