html {
  font-size: 62.5%;
}
body {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
.app-container {
  margin: 1%;
}
.header-container {
  display: flex;
  justify-content: space-between;
}

.left-side-header {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 500;
}
.dashboard-main {
  display: flex;
  justify-content: space-between;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
